<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ASTRO-QUEST</title>
    <style>
        span{
            border: 1px solid grey;
            padding: 5px;
        }
    </style>
</head>
<body>
    <h1>ASTRO QUEST</h1>
    <form action="/add" method="post">
        <!-- Id suivant -->
        <input type="text" name="id" value="{{ metadata['nextId']+1 }}" readonly/>
        <input type="text" name="title" required placeholder="Titre...." id="">
        <input type="text" name="description" required placeholder="description...." id="">
        <button type="submit">Ajouter</button>
    </form>
    <hr>
    <div class="task-list">
        <h2 style="text-align:center; text-decoration:underline;">QUEST LIST</h2>
        <ul style="list-style: none;">
            {% for task in taskList %}
            <li>
                <input type="checkbox" {{ 'checked' if task.state == 1 else '' }} onchange="toggle({{ task.id }})" name="" id="{{ task.id }}">
                <span>{{ task.id }}</span><span>{{ task.name }}</span><span>{{ task.description }}</span>
                <span><a href="deleteid={{ task.id }}" style="color:red;text-decoration:none;">X</a></span>
            </li>
            {% endfor %}
        </ul>
        {% if not(taskList) %}
        <p> Aucune mission pour l'instant mais restez en alerte</p>
        {% endif %}
    </div>
    <script>
        function toggle(id){
            chkbox = document.getElementById(id)
            if (!chkbox.checked){
                console.log("UNchecked "+ id)
                window.location.href = '/pendingid='+id;
            }else{
                console.log("Checked "+ id)
                window.location.href = '/endedid='+id;
            }
        }
    </script>
</body>
</html>